@page
@model App.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "وردپرس دات نت";
    Layout = "_Admin";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>داشبورد</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="/admin">خانه</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <i class="fa fa-info-circle" aria-hidden="true"></i>  لیست آخرین تغییرات  ( چهارشنبه دهم بهمن 97)</div>
                        <div class="panel-body">
                            <ul>
                                <li class="text-primary">برخی تغییرات در سئو سایت</li>
                                <li class="text-primary">فایل Robots.txt اضافه شد</li>
                                <li class="text-primary">سیستم اتوماتیک تولید نقشه سایت اضافه شد</li>
                                <li class="text-primary">باگ صفحه اول در نسخه موبایل برطرف شد</li>
                                <li class="text-primary">مقدمات Minify کردن فایلهای CSS و Js برنامه ریزی شد</li>
                                <li class="text-primary">بخش راهنمای استفاده راه اندازی شد</li>
                                <li class="text-primary">سبک های جدید به ویرایشگر اضافه شد</li>
                                <li class="text-primary">اصلاح آیکن ها در کنترل پنل</li>
                                <li class="text-primary">تغییر حروف مجاز در توضیحات موتورهای جستجو به بیشتر از 120 کاراکتر و کمتر از 155 کاراکتر</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
