@model App.Domain.Entities.Setting.Setting
<div class="col-lg-3 col-md-3">
    <div class="logo">
        <a href="/"><img src="/assets/logo/@Model.Logo" alt="@Html.Raw(Model.SiteName) - @Model.SiteNameInEnglish"></a>
    </div>
</div>