@page
@model App.Pages.Admin.Page.CreateModel

@{
    ViewData["Title"] = "افزودن صفحه جدید";
    Layout = "_Admin";
    var groupList = ViewData["Groups"] as Dictionary<int, string>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>افزودن صفحه جدید</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">خانه</a>
            </li>
            <li>
                <a href="/admin/Page/">صفحه ها</a>
            </li>
            <li class="active">
                افزودن صفحه جدید
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>افزودن صفحه</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Page.PageTitle" class="control-label"></label>
                                    <input asp-for="Page.PageTitle" class="form-control" />
                                    <span asp-validation-for="Page.PageTitle" class="text-danger"></span>
                                </div>
                                <h3 class="text-danger text-16">اختصاصی برای سئو</h3>
                                <div class="form-group">
                                    <label asp-for="Page.PageTitleInBrowser" class="control-label"></label>
                                    <input asp-for="Page.PageTitleInBrowser" class="form-control" />
                                    <span asp-validation-for="Page.PageTitleInBrowser" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Page.PageDescriptionForSearchEngines" class="control-label"></label>
                                    <textarea asp-for="Page.PageDescriptionForSearchEngines" rows="3" class="form-control"></textarea>
                                    <span asp-validation-for="Page.PageDescriptionForSearchEngines" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">قالب آماده محتوا</label>
                                    <select id="templates" class="form-control">
                                        <option>لطفا یک قالب انتخاب نمائید</option>
                                        <option value="Template_1">قالب آماده بدون تصویر</option>
                                        <option value="Template_2">قالب آماده همراه با تصویر</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Page.PageContent" class="control-label"></label>
                                    <textarea asp-for="Page.PageContent" class="form-control" rows="10"></textarea>
                                    <span asp-validation-for="Page.PageContent" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Page.RelatedPostGroup" class="control-label"></label>
                                    <select name="Page.RelatedPostGroup" class="form-control">
                                        <option value="0">به هیچ گروهی مرتبط نیست</option>
                                        @foreach (var item in groupList.ToList())
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Page.QuantityPostInPage" class="control-label"></label>
                                    <input asp-for="Page.QuantityPostInPage" class="form-control" />
                                    <span asp-validation-for="Page.QuantityPostInPage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="افزودن صفحه" class="btn btn-primary btn-sm" />
                            <a asp-page="Index" class="btn btn-danger btn-sm">بازگشت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Page_PageContent', {
            customConfig: '/adminAssets/js/Config.js'
        });
        CKEDITOR.config.allowedContent = true;

        var templates = {};
        templates["Template_1"] = "<h2 class='h3 text-center text-green font-weight-bold py-3'>تیتر H2</h2><p class='h6 text-center rtl px-5 text-secondary line-height-24'>پاراگراف </p><h3 class='h5 text-center text-green font-weight-bold py-3'>تیتر H3</h3><p class='h6 text-center rtl px-5 text-secondary line-height-24'>پاراگراف </p>";
        templates["Template_2"] = "<h2 class='h3 text-center text-green font-weight-bold py-3'>تیتر H2</h2><p class='h6 text-center rtl px-5 text-secondary line-height-24'>پاراگراف </p><div class='my-3 text-center'><img src='/assets/posts/thumb/defualtImage.jpg' class='img-thumbnail' /></div><h3 class='h5 text-center text-green font-weight-bold py-3'>تیتر H3</h3><p class='h6 text-center rtl px-5 text-secondary line-height-24'>پاراگراف </p><div class='my-3 text-center'><img src='/assets/posts/thumb/defualtImage.jpg' class='img-thumbnail' /></div>";
        $('#templates').change(function () {
            var template = $(this).val();
            CKEDITOR.instances["Page_PageContent"].setData(templates[template]);
        });
    </script>
}
