@page
@model App.Pages.Admin.Group.DeleteModel

@{
    ViewData["Title"] = "حذف گروه";
    Layout = "_Admin";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>حذف گروه</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">خانه</a>
            </li>
            <li>
                <a href="/admin/Group">گروه ها</a>
            </li>
            <li class="active">
                حذف گروه
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>حذف گروه</h5>
                </div>
                <div class="ibox-content">
                    <p class="text-20">آیا از حذف گروه <strong>"@Model.Group.GroupTitle"</strong> اطمینان دارید؟</p>
                    <form method="post">
                        <input type="hidden" asp-for="Group.GroupId" />
                        <input type="submit" value="تائید حذف" class="btn btn-warning btn-sm" />
                        <a asp-page="../ConfigChart/Index" class="btn btn-danger btn-sm">بازگشت</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
