@page
@model App.Pages.Admin.Comment.DeleteModel

@{
    ViewData["Title"] = "حذف دیدگاه";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>مدیریت دیدگاه ها</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">خانه</a>
            </li>
            <li>
                <a href="/admin/Product/">مدیدیت محصولات</a>
            </li>
            <li class="active">
                @ViewData["Title"]
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="ibox-content">
                    <p class="text-20">آیا از حذف این دیدگاه اطمینان دارید؟</p>
                    <form method="post">
                        <input type="hidden" asp-for="Comment.Id" />
                        <input type="submit" value="تائید حذف" class="btn btn-warning btn-sm" />
                        <a asp-page="Index" class="btn btn-danger btn-sm">بازگشت</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
