@model IEnumerable<App.Domain.Entities.Post.Post>
<div class="single-categories-1">
    <h3 class="blog-categorie-title">جدیدترین مطالب</h3>
    <div class="single-categories-blog">
        <ul>
            @foreach (var post in Model)
            {
                <li><a href="/p/@post.ShortUrl">@post.PostTitle</a></li>
            }
        </ul>
    </div>
</div>